/*! GLUEBALL 0.0.1 | http://glueball.io */
/*
  ___  __    _  _  ____  ____   __   __    __   
 / __)(  )  / )( \(  __)(  _ \ / _\ (  )  (  )  
( (_ \/ (_/\) \/ ( ) _)  ) _ (/    \/ (_/\/ (_/\ 
 \___/\____/\____/(____)(____/\_/\_/\____/\____/
 
 
 */
 
/*
module POSITION

Options


documentation: DOC_ROOTposition
*/

.p-s { position: static; }
.p-r { position: relative; }
.p-a { position: absolute; }
.p-f { position: fixed; }

@media (min-width: 36em) {
.s_p-s { position: static; }
.s_p-r { position: relative; }
.s_p-a { position: absolute; }
.s_p-f { position: fixed; }
}

@media (min-width: 48em) {
.m_p-s { position: static; }
.m_p-r { position: relative; }
.m_p-a { position: absolute; }
.m_p-f { position: fixed; }
}

@media (min-width: 62em) {
.l_p-s { position: static; }
.l_p-r { position: relative; }
.l_p-a { position: absolute; }
.l_p-f { position: fixed; }
}

@media (min-width: 75em) {
.x_p-s { position: static; }
.x_p-r { position: relative; }
.x_p-a { position: absolute; }
.x_p-f { position: fixed; }
}
