/* GLUEBALL */

/*
module ALIGN SELF

Overrides the align-items value for specific flex items.


documentation: http://glueball.io/docs/module/align_self
*/

.as-fs { align-self: flex-start; }
.as-fe { align-self: flex-end; }
.as-c { align-self: center; }
.as-b { align-self: baseline; }
.as-s { align-self: stretch; }
