/* GLUEBALL */

/*
module WHITE SPACE

White space is used to control how whitespace is rendered.


documentation: http://glueball.io/docs/module/white_space
*/

.ws-n { white-space: normal; }
.ws-nw { white-space: nowrap; }
.ws-p { white-space: pre; }

@media (min-width: 36em) {
.s_ws-n { white-space: normal; }
.s_ws-nw { white-space: nowrap; }
.s_ws-p { white-space: pre; }
}

@media (min-width: 48em) {
.m_ws-n { white-space: normal; }
.m_ws-nw { white-space: nowrap; }
.m_ws-p { white-space: pre; }
}

@media (min-width: 62em) {
.l_ws-n { white-space: normal; }
.l_ws-nw { white-space: nowrap; }
.l_ws-p { white-space: pre; }
}

@media (min-width: 75em) {
.x_ws-n { white-space: normal; }
.x_ws-nw { white-space: nowrap; }
.x_ws-p { white-space: pre; }
}
