/* GLUEBALL */

/*
module FLEX DIRECTION

Establishes the main-axis, thus defining the direction flex items are placed
inside the flex container.


documentation: http://glueball.io/docs/module/flex_direction
*/

.fd-row { flex-direction: row; }
.fd-col { flex-direction: column; }
.fd-rowr { flex-direction: row-reverse; }
.fd-colr { flex-direction: column-reverse; }
