/* GLUEBALL */

/*
module FONT WEIGHT

Only numbers, not bold or normal


documentation: http://glueball.io/docs/module/font_weight
*/

.weight1 { font-weight: 100; }
.weight2 { font-weight: 200; }
.weight3 { font-weight: 300; }
.weight4 { font-weight: 400; }
.weight5 { font-weight: 500; }
.weight6 { font-weight: 600; }
.weight7 { font-weight: 700; }
.weight8 { font-weight: 800; }
.weight9 { font-weight: 900; }

@media (min-width: 36em) {
.s_weight1 { font-weight: 100; }
.s_weight2 { font-weight: 200; }
.s_weight3 { font-weight: 300; }
.s_weight4 { font-weight: 400; }
.s_weight5 { font-weight: 500; }
.s_weight6 { font-weight: 600; }
.s_weight7 { font-weight: 700; }
.s_weight8 { font-weight: 800; }
.s_weight9 { font-weight: 900; }
}

@media (min-width: 48em) {
.m_weight1 { font-weight: 100; }
.m_weight2 { font-weight: 200; }
.m_weight3 { font-weight: 300; }
.m_weight4 { font-weight: 400; }
.m_weight5 { font-weight: 500; }
.m_weight6 { font-weight: 600; }
.m_weight7 { font-weight: 700; }
.m_weight8 { font-weight: 800; }
.m_weight9 { font-weight: 900; }
}

@media (min-width: 62em) {
.l_weight1 { font-weight: 100; }
.l_weight2 { font-weight: 200; }
.l_weight3 { font-weight: 300; }
.l_weight4 { font-weight: 400; }
.l_weight5 { font-weight: 500; }
.l_weight6 { font-weight: 600; }
.l_weight7 { font-weight: 700; }
.l_weight8 { font-weight: 800; }
.l_weight9 { font-weight: 900; }
}

@media (min-width: 75em) {
.x_weight1 { font-weight: 100; }
.x_weight2 { font-weight: 200; }
.x_weight3 { font-weight: 300; }
.x_weight4 { font-weight: 400; }
.x_weight5 { font-weight: 500; }
.x_weight6 { font-weight: 600; }
.x_weight7 { font-weight: 700; }
.x_weight8 { font-weight: 800; }
.x_weight9 { font-weight: 900; }
}
