/* GLUEBALL */

/*
module BORDER RADIUS

Radius for every corner and individual corners


documentation: http://glueball.io/docs/module/border_radius
*/

.br0 { border-radius: 0; }
.br1 { border-radius: 0.0625rem; }
.br2 { border-radius: 0.125rem; }
.br3 { border-radius: 0.25rem; }
.br4 { border-radius: 0.5rem; }
.br5 { border-radius: 1rem; }
.br6 { border-radius: 2rem; }
.br7 { border-radius: 4rem; }
.br8 { border-radius: 8rem; }
.br9 { border-radius: 999rem; }
.br100p { border-radius: 100%; }
.btrr0 { border-top-right-radius: 0; }
.btrr1 { border-top-right-radius: 0.0625rem; }
.btrr2 { border-top-right-radius: 0.125rem; }
.btrr3 { border-top-right-radius: 0.25rem; }
.btrr4 { border-top-right-radius: 0.5rem; }
.btrr5 { border-top-right-radius: 1rem; }
.btrr6 { border-top-right-radius: 2rem; }
.btrr7 { border-top-right-radius: 4rem; }
.btrr8 { border-top-right-radius: 8rem; }
.btrr9 { border-top-right-radius: 999rem; }
.btrr100p { border-top-right-radius: 100%; }
.bbrr0 { border-bottom-right-radius: 0; }
.bbrr1 { border-bottom-right-radius: 0.0625rem; }
.bbrr2 { border-bottom-right-radius: 0.125rem; }
.bbrr3 { border-bottom-right-radius: 0.25rem; }
.bbrr4 { border-bottom-right-radius: 0.5rem; }
.bbrr5 { border-bottom-right-radius: 1rem; }
.bbrr6 { border-bottom-right-radius: 2rem; }
.bbrr7 { border-bottom-right-radius: 4rem; }
.bbrr8 { border-bottom-right-radius: 8rem; }
.bbrr9 { border-bottom-right-radius: 999rem; }
.bbrr100p { border-bottom-right-radius: 100%; }
.bblr0 { border-bottom-left-radius: 0; }
.bblr1 { border-bottom-left-radius: 0.0625rem; }
.bblr2 { border-bottom-left-radius: 0.125rem; }
.bblr3 { border-bottom-left-radius: 0.25rem; }
.bblr4 { border-bottom-left-radius: 0.5rem; }
.bblr5 { border-bottom-left-radius: 1rem; }
.bblr6 { border-bottom-left-radius: 2rem; }
.bblr7 { border-bottom-left-radius: 4rem; }
.bblr8 { border-bottom-left-radius: 8rem; }
.bblr9 { border-bottom-left-radius: 999rem; }
.bblr100p { border-bottom-left-radius: 100%; }
.btlr0 { border-top-left-radius: 0; }
.btlr1 { border-top-left-radius: 0.0625rem; }
.btlr2 { border-top-left-radius: 0.125rem; }
.btlr3 { border-top-left-radius: 0.25rem; }
.btlr4 { border-top-left-radius: 0.5rem; }
.btlr5 { border-top-left-radius: 1rem; }
.btlr6 { border-top-left-radius: 2rem; }
.btlr7 { border-top-left-radius: 4rem; }
.btlr8 { border-top-left-radius: 8rem; }
.btlr9 { border-top-left-radius: 999rem; }
.btlr100p { border-top-left-radius: 100%; }
