/* GLUEBALL */

/*
module MAX HEIGHT

Percentages and values for maximum height


documentation: http://glueball.io/docs/module/max_height
*/

.maxh0 { max-height: 0; }
.maxh1 { max-height: 1rem; }
.maxh2 { max-height: 2rem; }
.maxh3 { max-height: 4rem; }
.maxh4 { max-height: 8rem; }
.maxh5 { max-height: 12rem; }
.maxh6 { max-height: 16rem; }
.maxh7 { max-height: 20rem; }
.maxh8 { max-height: 26rem; }
.maxh9 { max-height: 32rem; }
.maxh10 { max-height: 40rem; }
.maxh11 { max-height: 48rem; }
.maxh12 { max-height: 56rem; }
.maxh13 { max-height: 64rem; }
.maxh14 { max-height: 72rem; }
.maxh15 { max-height: 80rem; }
.maxh10p { max-height: 10%; }
.maxh20p { max-height: 20%; }
.maxh30p { max-height: 30%; }
.maxh40p { max-height: 40%; }
.maxh50p { max-height: 50%; }
.maxh60p { max-height: 60%; }
.maxh70p { max-height: 70%; }
.maxh80p { max-height: 80%; }
.maxh90p { max-height: 90%; }
.maxh100p { max-height: 100%; }

@media (min-width: 36em) {
.s_maxh0 { max-height: 0; }
.s_maxh1 { max-height: 1rem; }
.s_maxh2 { max-height: 2rem; }
.s_maxh3 { max-height: 4rem; }
.s_maxh4 { max-height: 8rem; }
.s_maxh5 { max-height: 12rem; }
.s_maxh6 { max-height: 16rem; }
.s_maxh7 { max-height: 20rem; }
.s_maxh8 { max-height: 26rem; }
.s_maxh9 { max-height: 32rem; }
.s_maxh10 { max-height: 40rem; }
.s_maxh11 { max-height: 48rem; }
.s_maxh12 { max-height: 56rem; }
.s_maxh13 { max-height: 64rem; }
.s_maxh14 { max-height: 72rem; }
.s_maxh15 { max-height: 80rem; }
.s_maxh10p { max-height: 10%; }
.s_maxh20p { max-height: 20%; }
.s_maxh30p { max-height: 30%; }
.s_maxh40p { max-height: 40%; }
.s_maxh50p { max-height: 50%; }
.s_maxh60p { max-height: 60%; }
.s_maxh70p { max-height: 70%; }
.s_maxh80p { max-height: 80%; }
.s_maxh90p { max-height: 90%; }
.s_maxh100p { max-height: 100%; }
}

@media (min-width: 48em) {
.m_maxh0 { max-height: 0; }
.m_maxh1 { max-height: 1rem; }
.m_maxh2 { max-height: 2rem; }
.m_maxh3 { max-height: 4rem; }
.m_maxh4 { max-height: 8rem; }
.m_maxh5 { max-height: 12rem; }
.m_maxh6 { max-height: 16rem; }
.m_maxh7 { max-height: 20rem; }
.m_maxh8 { max-height: 26rem; }
.m_maxh9 { max-height: 32rem; }
.m_maxh10 { max-height: 40rem; }
.m_maxh11 { max-height: 48rem; }
.m_maxh12 { max-height: 56rem; }
.m_maxh13 { max-height: 64rem; }
.m_maxh14 { max-height: 72rem; }
.m_maxh15 { max-height: 80rem; }
.m_maxh10p { max-height: 10%; }
.m_maxh20p { max-height: 20%; }
.m_maxh30p { max-height: 30%; }
.m_maxh40p { max-height: 40%; }
.m_maxh50p { max-height: 50%; }
.m_maxh60p { max-height: 60%; }
.m_maxh70p { max-height: 70%; }
.m_maxh80p { max-height: 80%; }
.m_maxh90p { max-height: 90%; }
.m_maxh100p { max-height: 100%; }
}

@media (min-width: 62em) {
.l_maxh0 { max-height: 0; }
.l_maxh1 { max-height: 1rem; }
.l_maxh2 { max-height: 2rem; }
.l_maxh3 { max-height: 4rem; }
.l_maxh4 { max-height: 8rem; }
.l_maxh5 { max-height: 12rem; }
.l_maxh6 { max-height: 16rem; }
.l_maxh7 { max-height: 20rem; }
.l_maxh8 { max-height: 26rem; }
.l_maxh9 { max-height: 32rem; }
.l_maxh10 { max-height: 40rem; }
.l_maxh11 { max-height: 48rem; }
.l_maxh12 { max-height: 56rem; }
.l_maxh13 { max-height: 64rem; }
.l_maxh14 { max-height: 72rem; }
.l_maxh15 { max-height: 80rem; }
.l_maxh10p { max-height: 10%; }
.l_maxh20p { max-height: 20%; }
.l_maxh30p { max-height: 30%; }
.l_maxh40p { max-height: 40%; }
.l_maxh50p { max-height: 50%; }
.l_maxh60p { max-height: 60%; }
.l_maxh70p { max-height: 70%; }
.l_maxh80p { max-height: 80%; }
.l_maxh90p { max-height: 90%; }
.l_maxh100p { max-height: 100%; }
}

@media (min-width: 75em) {
.x_maxh0 { max-height: 0; }
.x_maxh1 { max-height: 1rem; }
.x_maxh2 { max-height: 2rem; }
.x_maxh3 { max-height: 4rem; }
.x_maxh4 { max-height: 8rem; }
.x_maxh5 { max-height: 12rem; }
.x_maxh6 { max-height: 16rem; }
.x_maxh7 { max-height: 20rem; }
.x_maxh8 { max-height: 26rem; }
.x_maxh9 { max-height: 32rem; }
.x_maxh10 { max-height: 40rem; }
.x_maxh11 { max-height: 48rem; }
.x_maxh12 { max-height: 56rem; }
.x_maxh13 { max-height: 64rem; }
.x_maxh14 { max-height: 72rem; }
.x_maxh15 { max-height: 80rem; }
.x_maxh10p { max-height: 10%; }
.x_maxh20p { max-height: 20%; }
.x_maxh30p { max-height: 30%; }
.x_maxh40p { max-height: 40%; }
.x_maxh50p { max-height: 50%; }
.x_maxh60p { max-height: 60%; }
.x_maxh70p { max-height: 70%; }
.x_maxh80p { max-height: 80%; }
.x_maxh90p { max-height: 90%; }
.x_maxh100p { max-height: 100%; }
}
