/* GLUEBALL */

/*
module WIDTH

Percentages and values for width


documentation: http://glueball.io/docs/module/width
*/

.w0 { width: 0; }
.w1 { width: 1rem; }
.w2 { width: 2rem; }
.w3 { width: 4rem; }
.w4 { width: 8rem; }
.w5 { width: 16rem; }
.w6 { width: 32rem; }
.w7 { width: 48rem; }
.w8 { width: 64rem; }
.w9 { width: 96rem; }
.w10p { width: 10%; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }
.w1-5 { width: 20.00000%; }
.w2-5 { width: 40.00000%; }
.w3-5 { width: 60.00000%; }
.w4-5 { width: 80.00000%; }
.w1-7 { width: 14.28571%; }
.w2-7 { width: 28.57143%; }
.w3-7 { width: 42.85714%; }
.w4-7 { width: 57.14286%; }
.w5-7 { width: 71.42857%; }
.w6-7 { width: 85.71429%; }
.w1-12 { width: 8.33333%; }
.w2-12 { width: 16.66667%; }
.w3-12 { width: 25.00000%; }
.w4-12 { width: 33.33333%; }
.w5-12 { width: 41.66667%; }
.w6-12 { width: 50.00000%; }
.w7-12 { width: 58.33333%; }
.w8-12 { width: 66.66667%; }
.w9-12 { width: 75.00000%; }
.w10-12 { width: 83.33333%; }
.w11-12 { width: 91.66667%; }

@media (min-width: 36em) {
.s_w0 { width: 0; }
.s_w1 { width: 1rem; }
.s_w2 { width: 2rem; }
.s_w3 { width: 4rem; }
.s_w4 { width: 8rem; }
.s_w5 { width: 16rem; }
.s_w6 { width: 32rem; }
.s_w7 { width: 48rem; }
.s_w8 { width: 64rem; }
.s_w9 { width: 96rem; }
.s_w10p { width: 10%; }
.s_w20p { width: 20%; }
.s_w30p { width: 30%; }
.s_w40p { width: 40%; }
.s_w50p { width: 50%; }
.s_w60p { width: 60%; }
.s_w70p { width: 70%; }
.s_w80p { width: 80%; }
.s_w90p { width: 90%; }
.s_w100p { width: 100%; }
.s_w1-5 { width: 20.00000%; }
.s_w2-5 { width: 40.00000%; }
.s_w3-5 { width: 60.00000%; }
.s_w4-5 { width: 80.00000%; }
.s_w1-7 { width: 14.28571%; }
.s_w2-7 { width: 28.57143%; }
.s_w3-7 { width: 42.85714%; }
.s_w4-7 { width: 57.14286%; }
.s_w5-7 { width: 71.42857%; }
.s_w6-7 { width: 85.71429%; }
.s_w1-12 { width: 8.33333%; }
.s_w2-12 { width: 16.66667%; }
.s_w3-12 { width: 25.00000%; }
.s_w4-12 { width: 33.33333%; }
.s_w5-12 { width: 41.66667%; }
.s_w6-12 { width: 50.00000%; }
.s_w7-12 { width: 58.33333%; }
.s_w8-12 { width: 66.66667%; }
.s_w9-12 { width: 75.00000%; }
.s_w10-12 { width: 83.33333%; }
.s_w11-12 { width: 91.66667%; }
}

@media (min-width: 48em) {
.m_w0 { width: 0; }
.m_w1 { width: 1rem; }
.m_w2 { width: 2rem; }
.m_w3 { width: 4rem; }
.m_w4 { width: 8rem; }
.m_w5 { width: 16rem; }
.m_w6 { width: 32rem; }
.m_w7 { width: 48rem; }
.m_w8 { width: 64rem; }
.m_w9 { width: 96rem; }
.m_w10p { width: 10%; }
.m_w20p { width: 20%; }
.m_w30p { width: 30%; }
.m_w40p { width: 40%; }
.m_w50p { width: 50%; }
.m_w60p { width: 60%; }
.m_w70p { width: 70%; }
.m_w80p { width: 80%; }
.m_w90p { width: 90%; }
.m_w100p { width: 100%; }
.m_w1-5 { width: 20.00000%; }
.m_w2-5 { width: 40.00000%; }
.m_w3-5 { width: 60.00000%; }
.m_w4-5 { width: 80.00000%; }
.m_w1-7 { width: 14.28571%; }
.m_w2-7 { width: 28.57143%; }
.m_w3-7 { width: 42.85714%; }
.m_w4-7 { width: 57.14286%; }
.m_w5-7 { width: 71.42857%; }
.m_w6-7 { width: 85.71429%; }
.m_w1-12 { width: 8.33333%; }
.m_w2-12 { width: 16.66667%; }
.m_w3-12 { width: 25.00000%; }
.m_w4-12 { width: 33.33333%; }
.m_w5-12 { width: 41.66667%; }
.m_w6-12 { width: 50.00000%; }
.m_w7-12 { width: 58.33333%; }
.m_w8-12 { width: 66.66667%; }
.m_w9-12 { width: 75.00000%; }
.m_w10-12 { width: 83.33333%; }
.m_w11-12 { width: 91.66667%; }
}

@media (min-width: 62em) {
.l_w0 { width: 0; }
.l_w1 { width: 1rem; }
.l_w2 { width: 2rem; }
.l_w3 { width: 4rem; }
.l_w4 { width: 8rem; }
.l_w5 { width: 16rem; }
.l_w6 { width: 32rem; }
.l_w7 { width: 48rem; }
.l_w8 { width: 64rem; }
.l_w9 { width: 96rem; }
.l_w10p { width: 10%; }
.l_w20p { width: 20%; }
.l_w30p { width: 30%; }
.l_w40p { width: 40%; }
.l_w50p { width: 50%; }
.l_w60p { width: 60%; }
.l_w70p { width: 70%; }
.l_w80p { width: 80%; }
.l_w90p { width: 90%; }
.l_w100p { width: 100%; }
.l_w1-5 { width: 20.00000%; }
.l_w2-5 { width: 40.00000%; }
.l_w3-5 { width: 60.00000%; }
.l_w4-5 { width: 80.00000%; }
.l_w1-7 { width: 14.28571%; }
.l_w2-7 { width: 28.57143%; }
.l_w3-7 { width: 42.85714%; }
.l_w4-7 { width: 57.14286%; }
.l_w5-7 { width: 71.42857%; }
.l_w6-7 { width: 85.71429%; }
.l_w1-12 { width: 8.33333%; }
.l_w2-12 { width: 16.66667%; }
.l_w3-12 { width: 25.00000%; }
.l_w4-12 { width: 33.33333%; }
.l_w5-12 { width: 41.66667%; }
.l_w6-12 { width: 50.00000%; }
.l_w7-12 { width: 58.33333%; }
.l_w8-12 { width: 66.66667%; }
.l_w9-12 { width: 75.00000%; }
.l_w10-12 { width: 83.33333%; }
.l_w11-12 { width: 91.66667%; }
}

@media (min-width: 75em) {
.x_w0 { width: 0; }
.x_w1 { width: 1rem; }
.x_w2 { width: 2rem; }
.x_w3 { width: 4rem; }
.x_w4 { width: 8rem; }
.x_w5 { width: 16rem; }
.x_w6 { width: 32rem; }
.x_w7 { width: 48rem; }
.x_w8 { width: 64rem; }
.x_w9 { width: 96rem; }
.x_w10p { width: 10%; }
.x_w20p { width: 20%; }
.x_w30p { width: 30%; }
.x_w40p { width: 40%; }
.x_w50p { width: 50%; }
.x_w60p { width: 60%; }
.x_w70p { width: 70%; }
.x_w80p { width: 80%; }
.x_w90p { width: 90%; }
.x_w100p { width: 100%; }
.x_w1-5 { width: 20.00000%; }
.x_w2-5 { width: 40.00000%; }
.x_w3-5 { width: 60.00000%; }
.x_w4-5 { width: 80.00000%; }
.x_w1-7 { width: 14.28571%; }
.x_w2-7 { width: 28.57143%; }
.x_w3-7 { width: 42.85714%; }
.x_w4-7 { width: 57.14286%; }
.x_w5-7 { width: 71.42857%; }
.x_w6-7 { width: 85.71429%; }
.x_w1-12 { width: 8.33333%; }
.x_w2-12 { width: 16.66667%; }
.x_w3-12 { width: 25.00000%; }
.x_w4-12 { width: 33.33333%; }
.x_w5-12 { width: 41.66667%; }
.x_w6-12 { width: 50.00000%; }
.x_w7-12 { width: 58.33333%; }
.x_w8-12 { width: 66.66667%; }
.x_w9-12 { width: 75.00000%; }
.x_w10-12 { width: 83.33333%; }
.x_w11-12 { width: 91.66667%; }
}
