/* GLUEBALL */

/*
module MIN HEIGHT

Percentages and values for minimum height


documentation: http://glueball.io/docs/module/min_height
*/

.minh0 { min-height: 0; }
.minh1 { min-height: 1rem; }
.minh2 { min-height: 2rem; }
.minh3 { min-height: 4rem; }
.minh4 { min-height: 8rem; }
.minh5 { min-height: 12rem; }
.minh6 { min-height: 16rem; }
.minh7 { min-height: 20rem; }
.minh8 { min-height: 26rem; }
.minh9 { min-height: 32rem; }
.minh10 { min-height: 40rem; }
.minh11 { min-height: 48rem; }
.minh12 { min-height: 56rem; }
.minh13 { min-height: 64rem; }
.minh14 { min-height: 72rem; }
.minh15 { min-height: 80rem; }
.minh10p { min-height: 10%; }
.minh20p { min-height: 20%; }
.minh30p { min-height: 30%; }
.minh40p { min-height: 40%; }
.minh50p { min-height: 50%; }
.minh60p { min-height: 60%; }
.minh70p { min-height: 70%; }
.minh80p { min-height: 80%; }
.minh90p { min-height: 90%; }
.minh100p { min-height: 100%; }

@media (min-width: 36em) {
.s_minh0 { min-height: 0; }
.s_minh1 { min-height: 1rem; }
.s_minh2 { min-height: 2rem; }
.s_minh3 { min-height: 4rem; }
.s_minh4 { min-height: 8rem; }
.s_minh5 { min-height: 12rem; }
.s_minh6 { min-height: 16rem; }
.s_minh7 { min-height: 20rem; }
.s_minh8 { min-height: 26rem; }
.s_minh9 { min-height: 32rem; }
.s_minh10 { min-height: 40rem; }
.s_minh11 { min-height: 48rem; }
.s_minh12 { min-height: 56rem; }
.s_minh13 { min-height: 64rem; }
.s_minh14 { min-height: 72rem; }
.s_minh15 { min-height: 80rem; }
.s_minh10p { min-height: 10%; }
.s_minh20p { min-height: 20%; }
.s_minh30p { min-height: 30%; }
.s_minh40p { min-height: 40%; }
.s_minh50p { min-height: 50%; }
.s_minh60p { min-height: 60%; }
.s_minh70p { min-height: 70%; }
.s_minh80p { min-height: 80%; }
.s_minh90p { min-height: 90%; }
.s_minh100p { min-height: 100%; }
}

@media (min-width: 48em) {
.m_minh0 { min-height: 0; }
.m_minh1 { min-height: 1rem; }
.m_minh2 { min-height: 2rem; }
.m_minh3 { min-height: 4rem; }
.m_minh4 { min-height: 8rem; }
.m_minh5 { min-height: 12rem; }
.m_minh6 { min-height: 16rem; }
.m_minh7 { min-height: 20rem; }
.m_minh8 { min-height: 26rem; }
.m_minh9 { min-height: 32rem; }
.m_minh10 { min-height: 40rem; }
.m_minh11 { min-height: 48rem; }
.m_minh12 { min-height: 56rem; }
.m_minh13 { min-height: 64rem; }
.m_minh14 { min-height: 72rem; }
.m_minh15 { min-height: 80rem; }
.m_minh10p { min-height: 10%; }
.m_minh20p { min-height: 20%; }
.m_minh30p { min-height: 30%; }
.m_minh40p { min-height: 40%; }
.m_minh50p { min-height: 50%; }
.m_minh60p { min-height: 60%; }
.m_minh70p { min-height: 70%; }
.m_minh80p { min-height: 80%; }
.m_minh90p { min-height: 90%; }
.m_minh100p { min-height: 100%; }
}

@media (min-width: 62em) {
.l_minh0 { min-height: 0; }
.l_minh1 { min-height: 1rem; }
.l_minh2 { min-height: 2rem; }
.l_minh3 { min-height: 4rem; }
.l_minh4 { min-height: 8rem; }
.l_minh5 { min-height: 12rem; }
.l_minh6 { min-height: 16rem; }
.l_minh7 { min-height: 20rem; }
.l_minh8 { min-height: 26rem; }
.l_minh9 { min-height: 32rem; }
.l_minh10 { min-height: 40rem; }
.l_minh11 { min-height: 48rem; }
.l_minh12 { min-height: 56rem; }
.l_minh13 { min-height: 64rem; }
.l_minh14 { min-height: 72rem; }
.l_minh15 { min-height: 80rem; }
.l_minh10p { min-height: 10%; }
.l_minh20p { min-height: 20%; }
.l_minh30p { min-height: 30%; }
.l_minh40p { min-height: 40%; }
.l_minh50p { min-height: 50%; }
.l_minh60p { min-height: 60%; }
.l_minh70p { min-height: 70%; }
.l_minh80p { min-height: 80%; }
.l_minh90p { min-height: 90%; }
.l_minh100p { min-height: 100%; }
}

@media (min-width: 75em) {
.x_minh0 { min-height: 0; }
.x_minh1 { min-height: 1rem; }
.x_minh2 { min-height: 2rem; }
.x_minh3 { min-height: 4rem; }
.x_minh4 { min-height: 8rem; }
.x_minh5 { min-height: 12rem; }
.x_minh6 { min-height: 16rem; }
.x_minh7 { min-height: 20rem; }
.x_minh8 { min-height: 26rem; }
.x_minh9 { min-height: 32rem; }
.x_minh10 { min-height: 40rem; }
.x_minh11 { min-height: 48rem; }
.x_minh12 { min-height: 56rem; }
.x_minh13 { min-height: 64rem; }
.x_minh14 { min-height: 72rem; }
.x_minh15 { min-height: 80rem; }
.x_minh10p { min-height: 10%; }
.x_minh20p { min-height: 20%; }
.x_minh30p { min-height: 30%; }
.x_minh40p { min-height: 40%; }
.x_minh50p { min-height: 50%; }
.x_minh60p { min-height: 60%; }
.x_minh70p { min-height: 70%; }
.x_minh80p { min-height: 80%; }
.x_minh90p { min-height: 90%; }
.x_minh100p { min-height: 100%; }
}
